# Interface Wi-Fi to use for the hotspot
AP_IFACE="wlp115s0"

# (Optionnal) Force a frequency (in MHz) if you want a specific channel.
# Keep empty to let create_ap choose. 2412=ch1, 2437=ch6, 2462=ch11
FREQ_MHZ=""

# Country (regdomain)
COUNTRY="FR"

# (Optional) Force uplink interface (if you have multiple USB or wired devices)
UPLINK_IF_FORCE="enp0s20f0u1u1u4"

# DNS servers served to clients
DHCP_DNS="1.1.1.1,8.8.8.8"

# Block residential IPs (leave empty in the public copy)
RESIDENTIAL_UPLINK_BLOCK_IPS=""

# Profiles SSID/PSK (PSK left empty for public copy; fill locally)
SSID_MI10T="Mi10T_NET"
PSK_MI10T=""

SSID_IPHONE8="iPhone8_NET"
PSK_IPHONE8=""

SSID_IPHONE11="iPhone11_NET"
PSK_IPHONE11=""
